<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
     <!-- Compiled and minified CSS 
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet"> -->
    <!-- Compiled and minified CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    {# {{ form.media }} #}
    <!--<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>-->


    <!--<script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>-->
    <script >
        /*$(document).ready(function(e){
            $(".dropdown-trigger").dropdown()
        });*/
        document.addEventListener('DOMContentLoaded', function(){
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = {
                coverTrigger: false,
                hover: true
            }
            var instance = M.Dropdown.init(elems,instances);
        });
    </script>
</head>
<body>
        <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Tutorials</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="nav navbar-nav pull-right">
                    <form display:inline-block action="{% url 'tutor:search' %}" method ="GET">
                      <input type="text" name="q" placeholder="Search...">
                    </form>
                </li>
                <li><a href="{% url 'tutor:home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a class="dropdown-trigger" style="background-color:transparent;" href="#" data-target="dropdown1">+ add</a></li>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="/admin/tutor/tutorial">Tutorials</a></li>
                        <li><a href="/admin/books/book/">Books</a></li>
                        <li><a href="/admin/videos/video">Videos</a></li>
                    </ul>
                    
                    <li><a class="dropdown-trigger"  style="background-color: transparent;" href="#" data-target="dropdown2">{{user.username|capfirst}}</a></li>
                    <div class="container">
                        <ul id="dropdown2" class="dropdown-content" hover="false">
                            <!-- <li><a href="{% url 'authentication:editMyProfile' %}">{{user.username|capfirst}}</a></li> -->
                           <li><a href="{% url 'authentication:editMyProfile' %}">Profile</a></li>
                           <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
                       </ul>
                    </div>
                    
                    {# comment #}
                        <!-- <li><a href="{% url 'authentication:editMyProfile' %}">{{user.username|capfirst}}</a></li>
                        <li><a href="{% url 'authentication:change_password' %}">{{user.username|capfirst}}</a></li>
                        <li><a href="{% url 'authentication:logout' %}">Logout</a></li>-->
                    {# endcomment #}
                {% else %}
                    <li><a href="{% url 'authentication:register' %}">Register</a></li>
                    <li><a href="{% url 'authentication:login' %}">Login</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <br>
            {% block content %}
            {% endblock %}
        </div>

</body>
    <!--<script src="{% static 'tinymce/js/prism.js' %}"></script>-->
   <script>M.AutoInit();</script>
</html>