{% extends "authentication/header.html" %}
{% block content %}
    <div class="row">

        <div class="col m6 l3 teal">
            <ul class="collapsible popout">
                {% for tutorial in sidebar %}
                    {% if forloop.counter0 == selected_url_index %}
                        <li class="active">
                            <div class="collapsible-header">{{tutorial.tutorial_title}}<br>
                                (currently viewing)
                            </div>

                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">{{tutorial.tutorial_title}}</div>
                            <div class="collapsible-body">
                                <p><a href="../{{tutorial.id}}">
                                    <button class="btn waves-effect waves-light right-align"
                                    style="background-color: blue-grey darken-1;">Go</button></a></p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col s6 m12 l9 brown">
            <h3>{{tutorial.tutorial_title}}</h3>
            <p style="font-size: 70%">Published {{tutorial.pub_date}}</p>
            <p>{{tutorial.tutorial_content|safe}}</p>
            {{total_likes}} Like{{total_likes|pluralize}}<br>
            {{who}} like this tutorial.
            <!-- {{tut.get_absolute_url}} -->
            <form action="{% url 'tutor:like_post' tut.id %}" method="POST">
                {% csrf_token %}
                {% if is_liked %}
                    <button type="submit" name="tutorial_id" value="{{tut.id}}" class="btn waves-effect waves-light" 
                    style="background-color: rgb(239, 31, 31);">Dislike</button>
                {% else %}
                    <button type="submit" name="tutorial_id" value="{{tut.id}}" class="btn waves-effect waves-light" 
                    style="background-color: royalblue;">Like</button>
                {% endif %}
            </form>
        </div>
    
    </div>

{% endblock %}